.vue-map {
  position: relative;
}

.map-container {
  top: 0;
  right: 0;
  background: #999;
  height: 100vh;
}

 .map-container .vue-map-container .vue-map {
  width: 100%;
  height: 100vh;
}

.coffee_title a {
  font-weight: bold;
  color: #000;
}

.card-title {
  font-size: 1.5em;
}

.custom_title {
  margin-top: 0px !important;
}

.label_margin {
  margin-right: 5px;
}

.coffee_title a:hover {
  color: #52b00c;
}

.navbar-brand {
  color: #fff !important;
}

.place_title {
  font-weight: bold;
  font-size: 5em;
}

.navbar-nav .nav-item a {
  color: #fff !important;
}

.label-custom {
  background-color: #52b00c;
}

.no-gutter.row,
.no-gutter.container,
.no-gutter.container-fluid {
  margin-left: 0;
  margin-right: 0;
}

.no-gutter>[class^="col-"] {
  padding-left: 0;
  padding-right: 0;
}

.upcase {
  text-transform: uppercase;
}

ul.leaders {
  max-width: 40em;
  padding: 0;
  overflow-x: hidden;
  list-style: none
}

ul.leaders li:before {
  float: left;
  width: 0;
  white-space: nowrap;
  content:
". . . . . . . . . . . . . . . . . . . . "
". . . . . . . . . . . . . . . . . . . . "
". . . . . . . . . . . . . . . . . . . . "
". . . . . . . . . . . . . . . . . . . . "
}

ul.leaders span:first-child {
  padding-right: 0.33em;
  background: white
}

ul.leaders span + span {
  float: right;
  padding-left: 0.33em;
  background: white
}

.phone_str small {
  font-weight: bold;
}

.font_title {
  font-family: 'Rammetto One', cursive;
  font-size: 1.5em !important;
  font-weight: normal !important;
}

.section {
  padding-top: 20px !important;
}

.navbar-dark .navbar-toggler {
  color: rgba(255,255,255,.5);
  border-color: rgba(255,255,255,.1);
}

.navbar-toggler:focus, .navbar-toggler:hover {
  text-decoration: none;
}

.navbar {
  padding: .5rem 1rem !important;
}

.navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  content: "";
  background: no-repeat center center;
  background-size: 100% 100%;
}

.card {
  max-width: 100%;
}

.card-title a {
  word-break: break-all;
  font-weight: bold;
  text-transform: uppercase;
}

.event-col, .shop_col {
  padding-left: 5px !important;
  padding-right: 5px !important;
}

.option_title {
  margin-bottom: 20px;
}

.place_link:hover {
  color: #52b00c;
}

.work_hours {
  font-weight: bold;
}

.address_block {
  margin-top: 20px;
  margin-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.phone_num {
  color: #212529;
}

.phone_num:hover {
  color: #212529;
}